<?xml version="1.0"?>
<!--
/**
 * Copyright © Qoliber. All rights reserved.
 *
 * @category    Qoliber
 * @package     Qoliber_DataPatchCreator
 * @author      Jakub Winkler <jwinkler@qoliber.com
 * @author      Sebastian Strojwas <sstrojwas@qoliber.com>
 * @author      Wojciech M. Wnuk <wwnuk@qoliber.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Qoliber\DataPatchCreator\Controller\Adminhtml\Export\ProductAttribute">
        <arguments>
            <argument name="dataPatchExport" xsi:type="object">Qoliber\DataPatchCreator\Model\DataPatchExport\ProductAttribute</argument>
        </arguments>
    </type>

    <type name="Qoliber\DataPatchCreator\Controller\Adminhtml\Export\Configuration">
        <arguments>
            <argument name="dataPatchExport" xsi:type="object">Qoliber\DataPatchCreator\Model\DataPatchExport\Configuration</argument>
        </arguments>
    </type>

    <type name="Qoliber\DataPatchCreator\Controller\Adminhtml\Export\CmsPage">
        <arguments>
            <argument name="dataPatchExport" xsi:type="object">Qoliber\DataPatchCreator\Model\DataPatchExport\CmsPage</argument>
        </arguments>
    </type>

    <type name="Qoliber\DataPatchCreator\Controller\Adminhtml\Export\CmsBlock">
        <arguments>
            <argument name="dataPatchExport" xsi:type="object">Qoliber\DataPatchCreator\Model\DataPatchExport\CmsBlock</argument>
        </arguments>
    </type>

    <type name="Qoliber\DataPatchCreator\Controller\Adminhtml\Export\CatalogRule">
        <arguments>
            <argument name="dataPatchExport" xsi:type="object">Qoliber\DataPatchCreator\Model\DataPatchExport\CatalogRule</argument>
        </arguments>
    </type>

    <type name="Qoliber\DataPatchCreator\Controller\Adminhtml\Export\SalesRule">
        <arguments>
            <argument name="dataPatchExport" xsi:type="object">Qoliber\DataPatchCreator\Model\DataPatchExport\SalesRule</argument>
        </arguments>
    </type>

    <!-- mass action controllers -->
    <type name="Qoliber\DataPatchCreator\Controller\Adminhtml\MassExport\CmsPage">
        <arguments>
            <argument name="dataPatchExport" xsi:type="object">Qoliber\DataPatchCreator\Model\DataPatchExport\CmsPage</argument>
        </arguments>
    </type>

    <type name="Qoliber\DataPatchCreator\Controller\Adminhtml\MassExport\CmsBlock">
        <arguments>
            <argument name="dataPatchExport" xsi:type="object">Qoliber\DataPatchCreator\Model\DataPatchExport\CmsBlock</argument>
        </arguments>
    </type>

    <type name="Qoliber\DataPatchCreator\Controller\Adminhtml\MassExport\ProductAttribute">
        <arguments>
            <argument name="dataPatchExport" xsi:type="object">Qoliber\DataPatchCreator\Model\DataPatchExport\ProductAttribute</argument>
        </arguments>
    </type>

    <type name="Qoliber\DataPatchCreator\Controller\Adminhtml\MassExport\CatalogRule">
        <arguments>
            <argument name="dataPatchExport" xsi:type="object">Qoliber\DataPatchCreator\Model\DataPatchExport\CatalogRule</argument>
        </arguments>
    </type>

    <type name="Qoliber\DataPatchCreator\Controller\Adminhtml\MassExport\SalesRule">
        <arguments>
            <argument name="dataPatchExport" xsi:type="object">Qoliber\DataPatchCreator\Model\DataPatchExport\SalesRule</argument>
        </arguments>
    </type>

    <!-- extend this data array to add mode image sync models like FTP / SSH / others -->
    <type name="Qoliber\DataPatchCreator\Model\ImagesSync\ImageSync">
        <arguments>
            <argument name="syncModels" xsi:type="array">
                <item name="LocalFile" xsi:type="object">Qoliber\DataPatchCreator\Model\ImagesSync\LocalFile</item>
                <item name="NoSync" xsi:type="object">Qoliber\DataPatchCreator\Model\ImagesSync\NoSync</item>
            </argument>
        </arguments>
    </type>
</config>
